<div class="container">
    <h1 class="text-center">miyamotoのブログ</h1>
    <% @articles.each do |article| %>
        <div class="col-md-4">
            <%= article.title %>
            <%= article.created_at %>
        </div>    
    <% end %>
</div>